body {
  display: grid;

  margin: 0rem;

  font-family: system-ui;
}
/* 32rem + 24rem = 56rem */
@media (width >= 56rem) {
  body {
    grid: 100vh / 1fr 24rem;
  }

  #control {
    height: 100vh;
  }
}
@media (width < 56rem) {
  body {
    grid: 100vh auto / 100vw;
  }
}

#output {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  padding: 1rem;

  overflow: scroll;
}

#canvas {
  place-self: center;
}

hr {
  border: none;
}

#control {
  display: flex;
  flex-basis: 256px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 8px;
  overflow-y: scroll;
}

#control p {
  margin: 0px;
}

#control h1 {
  margin: 0px;

  font-size: 1.5em;
}

#control h2 {
  margin: 0px;

  font-size: 1em;
}

#control input, #control select {
  box-sizing: border-box;
  width: 100%;
}

#downloadA {
  display: none;
}

#canvas {
  image-rendering: crisp-edges;
}

.math {
  font-style: italic;
}

/* I began to write this file as a hobby project. */
/* I did not use any AI tools to write this file. */
