body {
  display: grid;

  margin: 0rem;

  font-family: system-ui;
}
/* 32rem + 24rem = 56rem */
@media (width >= 56rem) {
  body {
    grid: 100vh / 1fr 24rem;
  }

  #control {
    height: 100vh;
  }
}
@media (width < 56rem) {
  body {
    grid: 100vh auto / 100vw;
  }
}

#output {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  padding: 1rem;

  overflow: scroll;
}

#control {
  place-self: start center;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-sizing: border-box;
  width: 100%;
  padding: 1rem;

  background-color: oklch(95% 0% 0deg);
  overflow: hidden auto;
}
.box {
  align-self: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-sizing: border-box;
  width: 22rem; /* 24rem - 1rem - 1rem */
  border-radius: 0.5rem;
  padding: 1rem;

  background-color: white;
}

header {
  align-self: center;

  box-sizing: border-box;
  width: 22rem; /* 24rem - 1rem - 1rem */
}
header > h1 {
  margin: 0rem;
}
header > div {
  padding-top: 0.5rem;
}
header > div > a {
  color: oklch(50% 0% 0deg);
}
header > div > a:hover {
  color: black;
}

#canvas {
  place-self: center;
}

hr {
  border: none;
}

#control h2 {
  margin: 0px;

  font-size: 1em;
}

#control input, #control select {
  box-sizing: border-box;
  width: 100%;
}

#downloadA {
  display: none;
}

#canvas {
  image-rendering: crisp-edges;
}

.math {
  font-style: italic;
}

/* I began to write this file as a hobby project. */
/* I did not use any AI tools to write this file. */
